@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.ttf');
  src: url('/fonts/GeistMono-Regular.otf');
}



body {
  margin: 1rem auto 1rem;
  font-family: 'Geist', fallback, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.65;
  color: lightgrey;
  min-width: 20rem;
}

pre,
code {
  padding: 5pt;
  border-radius: 3pt;
  font-size: 12pt;
  font-family: 'Geist', monospace;
}

hr {
  width: 85%;
}

a,
a:visited {
  text-decoration: none;
}

.blogTitle {
  font-size: 1.6rem !important;
  color: lightgrey !important;
  text-decoration: none !important;
}

.blogTitleItem {
  font-size: 1rem !important;
  color: darkcyan !important;
  text-decoration: none !important;
}

.entryDate {
  color: gray;
}

.navigation {
  font-size: 1rem !important;
  color: darkcyan !important;
  text-decoration: none !important;
}

.copyright {
  color: grey;
  text-align: left;
}

.jsfree {
  display: inline-block;
  padding-left: 30px;
  font-size: 0.8rem;
  color: lightblue;
}

pre {
  overflow-x: auto;
}

p {
  text-indent: 20px;
}

.blogTitleItem:hover {
  text-decoration: underline !important;
  color: whitesmoke !important;
}

.navigation:hover {
  color: rgb(13, 151, 151) !important;
  text-decoration: underline !important;
}

@media (prefers-color-scheme: light) {

  a.blogTitle {
    color: black !important;
  }

  html,
  body {
    background-color: white;
    color: black
  }
  
  .blogTitleItem:hover {
    color: black !important;
  }
  
  a,
  a:visited {
    color: darkorange !important
  }

  .navigation:hover {
    color: black !important;
  }

  pre,
  code {
    background-color: lightgray;
  }
}