@page

<h2>HexThrees Privacy Policy</h2>
<p>HexThrees does not collect any personal information from any of your use of our game. The only information that is saved to memory is game save state and it is not leaving your device.</p>
<p>HexThrees does not use any third-party frameworks.</p>