body {    
    margin: 1rem auto 1rem;
  }

  hr {
      width: 85%;
  }

  a,
  a:visited {
    text-decoration: none;
  }

  .blogTitle {
    font-family: monospace !important;
    font-size: 30px !important;
    color: lightgrey !important;
    text-decoration:none !important;
  }

  .blogTitleItem {
    font-family: monospace !important;
    font-size: 15px !important; 
    color: darkcyan !important; 
    text-decoration:none !important;
  }
  
  .navigation {
    font-family: monospace !important;
    font-size: 20px !important; 
    color: darkcyan !important; 
    text-decoration:none !important;
  }

  pre {    
    overflow-x: auto;
  }

  p {
    text-indent: 20px;
  }