@page "{pageNumber:int}"

@model hySite.IndexModel

@foreach (var item in @Model.Posts) {

    @Html.Partial("BlogEntry", item)
}

@if(@Model.PrevPage != null)
{
    <a class="navigation" style="float: left" href="/@Model.PrevPage">Previous</a>
}

@if(@Model.NextPage != null)
{
    <a class="navigation" style="float: right" href="/@Model.NextPage">Next</a>
}