<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - hySite</title>
    <link rel="stylesheet" type="text/css" href="/css/retro.css">
    <link rel="stylesheet" type="text/css" href="/css/hyston.blog.css">
    <link href="https://mastodon.social/@@hyston" rel="me">
</head>
<body>
    <div style="width: 100%; text-align: center">
        <a class="blogTitle" href="/">Hyston blog</a>
        <br/>
        <a class="blogTitleItem" href="/About">About</a>&nbsp;•&nbsp;<a class="blogTitleItem" href="/rss">RSS</a>
    </div>
    <hr/>
    @RenderBody()
</body>
</html>
